.title {
    color: antiquewhite;
    font-family: CCNF;
    font-size: 40px;
    margin: 40px;
}

.post {
    display: flex;
    flex-direction: column;
    font-size: medium;
    margin: 20px;
}

.post-preview-container {
    gap: 20px;
    border-left-style: solid;
    padding-left: 10px;
    text-align: left;
    line-height: 20px;
}

.post-container {
    gap: 20px;
    padding-left: 10px;
    text-align: justify;
    line-height: 30px;
    height: 80vh;
    width: 75%;
}

.post-create {
    font-size: 20px;
    padding: 5px;
    width: 50vw;
    height: 50vh;
}

.dates {
    color: rgb(188, 177, 162);
    font-size: smaller;
    align-self: flex-start;
}