body {
    background-color: rgb(6, 4, 3);
    display: flex; /* Make body a flex container */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 0;
}

.hi {
    text-align: center;
    font-size: xx-large;
    width: 30%;
    border-style: double double dotted;
    border-color: rgb(89, 209, 209) rgb(85, 85, 194);
    padding: 10px;
    margin: 20px 0; /* Add margin for spacing */
}

.base {
    color: antiquewhite;
    font-family: CCNF;
    text-decoration: none;
}

.home-btn {
    color: antiquewhite;
    text-decoration: none;
}

@font-face {
    font-family: CCNF;
    src: url("../fonts/cascadia-code/CascadiaCodeNF.woff2");
}