body {
    background-color: rgb(6, 4, 3);
    position: relative;
}

.hi {
    color: antiquewhite;
    text-align: center;
    font-family: CCNF;
    font-size: xx-large;
    margin: auto;
    width: 30%;
    border-style: double double dotted;
    border-color: rgb(89, 209, 209) rgb(85, 85, 194);
    padding: 10px;
}

.aboutme {
    color: rgb(93, 165, 165);
    font-family: CCNF;
    font-size: medium;
    position: absolute;
    left: 10%;
    padding: 10px;
    width: 40%;
    border-style: groove;
}

.technos {
    color: rgb(83, 83, 231);
    font-family: CCNF;
    font-size: medium;
    position: absolute;
    right: 10%;
    margin-top: 25%;
    padding: 10px;
    width: 40%;
    border-style: groove;
}

.links {
    color: rgb(65, 152, 223);
    font-family: CCNF;
    font-size: medium;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 55%;
    padding: 10px;
    width: 20%;
    border-style: groove;
}

@font-face {
    font-family: CCNF;
    src: url("../fonts/cascadia-code/CascadiaCodeNF.woff2");
}