.container {
    display: flex; /* Create a flex container for the aboutme, technos, and links */
    flex-direction: column;
    justify-content: space-between; /* Distribute space between items */
    width: 100%; /* Full width of the body */
    position: relative; /* Allow absolute positioning within this container */
}

.aboutme {
    color: rgb(93, 165, 165);
    position: absolute;
    font-family: CCNF;
    font-size: medium;
    padding: 10px;
    border-style: groove;
    left: 5%;
    margin: 20px 0;
}

.technos {
    color: rgb(83, 83, 231);
    position: absolute;
    font-family: CCNF;
    font-size: medium;
    padding: 10px;
    border-style: groove;
    right: 5%;
    margin: 250px 0;
}

.garn-std {
    position: absolute;
    right: 20%;
    margin: 20px 0;
    width: 256px;
    height: 256px;
}

@media (max-width: 200px) {
    .aboutme {
        width: 40%; /* Adjust width as needed */
    }
}

@media (max-width: 200px) {
    .technos {
        width: 40%; /* Adjust width as needed */
    }
}

.links {
    color: rgb(65, 152, 223);
    font-family: CCNF;
    font-size: medium;
    padding: 10px;
    width: 20%; /* Adjust width as needed */
    border-style: groove;
    margin: 550px auto;
}
